.button {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px 15px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 35px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &_green {
    @extend .button;

    background-color: map-get($colors, 'brand-green');

    &:hover {
      background-color: map-get($colors, 'brand-green-hover');
    }

    &:active {
      background-color: map-get($colors, 'brand-green-active');
    }
  }

  &_blue {
    @extend .button;

    background-color: map-get($colors, 'brand-dark-blue');

    &:hover {
      background-color: map-get($colors, 'brand-dark-blue-hover');
    }

    &:active {
      background-color: map-get($colors, 'brand-dark-blue-active');
    }
  }

  &_blue_secondary {
    @extend .button;

    background-color: map-get($colors, 'brand-dark-blue');

    &:hover {
      background-color: map-get($colors, 'brand-green');
    }

    &:active {
      background-color: map-get($colors, 'brand-green-active');
    }
  }

  &_yellow {
    @extend .button;

    background-color: map-get($colors, 'brand-yellow');
    color: map-get($colors, 'brand-dark-blue');

    &:hover {
      color: #fff;
      background-color: map-get($colors, 'brand-green-hover');
    }

    &:active {
      color: #fff;
      background-color: map-get($colors, 'brand-green-active');
    }
  }

  &_wide {
    @extend .button;

    width: 100%;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }

  &_left {
    @extend .button;

    border-radius: 35px;
  }

  &_right {
    @extend .button;

    border-radius: 35px;
  }

  &-combiner {
    display: flex;
    flex-direction: column;
    width: 100%;

    .button_right,
    .button_left {
      text-align: center;
    }

    &__delimiter {
      position: relative;
      height: 10px;
      opacity: 0;
      transition: opacity 0.15s ease-in;
    }

    &:hover {
      .button-combiner__delimiter {
        opacity: 0;
      }
    }
  }
}

@media (min-width: 375px) {
  .button {
    font-size: 18px;
    line-height: 18px;
    padding: 20px 30px 20px;
  }
}

@media (min-width: 576px) {
  .button {
    &-combiner {
      width: auto;
    }
  }
}

@media (min-width: 480px) {
  .button {
    font-size: 21px;
    line-height: 21px;
    padding: 24px 35px 25px;
  }
}

@media (min-width: 768px) {
  .button {
    &_left {
      border-top-left-radius: 35px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 0;
      flex: 1;
      text-align: center;
    }

    &_right {
      border-top-right-radius: 35px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 35px;
      flex: 1;
      text-align: center;
    }

    &-combiner {
      position: relative;
      flex-direction: row;
      width: 100%;

      &__delimiter {
        position: absolute;
        left: calc(50% - 1px);
        top: 0;
        height: 100%;
        width: 2px;
        opacity: 1;
        z-index: 1;

        &::before {
          position: absolute;
          content: '';
          display: block;
          left: 0;
          top: 50%;
          width: 2px;
          height: calc(100% - 30px);
          background-color: #fff;
          opacity: 0.2;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .button {
    &_left,
    &_right {
      border-radius: 35px;
    }

    &-combiner {
      flex-direction: column;

      &__delimiter {
        position: relative;
        height: 10px;
        opacity: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .button {
    &_left {
      border-top-left-radius: 35px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 0;
    }

    &_right {
      border-top-right-radius: 35px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 35px;
    }

    &-combiner {
      position: relative;
      flex-direction: row;
      align-items: stretch;

      &__delimiter {
        position: absolute;
        left: calc(50% - 1px);
        top: 0;
        height: 100%;
        width: 2px;
        opacity: 1;
        z-index: 1;

        &::before {
          position: absolute;
          content: '';
          display: block;
          left: 0;
          top: 50%;
          width: 2px;
          height: calc(100% - 30px);
          background-color: #fff;
          opacity: 0.2;
          transform: translateY(-50%);
        }
      }
    }
  }
}
