.card {
  position: relative;
  padding: 23px 30px 35px;
  border-radius: 20px;
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;

  &__title {
    @include font-size($title-font-sizes);

    margin-bottom: 25px;
    font-family: GoshaSans, sans-serif;
    font-weight: 700;
    z-index: 11;
  }

  &__subtitle {
    @include font-size($card__subtitle-font-sizes);

    margin-bottom: 40px;
    z-index: 11;

    &_short {
      @extend .card__subtitle;

      max-width: 442px;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 59px;
    z-index: 11;

    li {
      @include font-size($card-list-font-sizes);

      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;
      font-weight: 500;

      &::before {
        display: inline-block;
        margin-right: 12px;
        content: '';
        min-width: 21px;
        min-height: 21px;
        background-color: map-get($colors, 'brand-green');
        border-radius: 21px;
        background-image: url(../../public/images/check.svg);
        background-size: 60% 60%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__bottom {
    margin-top: auto;
    z-index: 11;
  }

  &__out-item {
    margin-top: -50px;
    display: none;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_invert {
    @extend .card;

    background-color: map-get($colors, 'brand-dark-blue');
    color: #fff;

    .card__list {
      li {
        &::before {
          background-color: map-get($colors, 'brand-yellow');
          background-image: url(../../public/images/check_blue.svg);
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .card {
    padding: 35px 40px 50px;

    &__out-item {
      margin-top: 0;
      position: absolute;
      right: -8.5%;
      bottom: 14%;
      z-index: 10;
      width: 55%;
      height: auto;
      display: block;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .card {
    &__list {
      li {
        &::before {
          min-width: 25px;
          min-height: 25px;
          border-radius: 25px;
          margin-right: 16px;
        }
      }
    }
  }
}
