.hero-block {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    margin: 100px 0 100%;
  }

  h1 {
    @include font-size($title-font-sizes);

    max-width: 855px;
    font-family: GoshaSans, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 auto 30px;
  }

  h2 {
    @include font-size($hero-block-subtitle-font-sizes);

    max-width: 615px;
    margin: 0 auto 40px;
    font-weight: 400;
  }

  p {
    margin: 15px 0 0;
    font-size: 14px;
    line-height: 14px;
  }

  &__image {
    position: absolute;
    top: 95%;
    transform: translate(0, -100%);
    z-index: -1;
    width: 50%;
    height: auto;

    &_left {
      @extend .hero-block__image;

      left: 0;
    }

    &_right {
      @extend .hero-block__image;

      right: 0;
    }
  }
}

@media (min-width: 376px) {
  .hero-block {
    &__content {
      margin: 100px 0 90%;
    }
  }
}

@media (min-width: 768px) {
  .hero-block {
    &__content {
      margin: 100px 0 70%;
    }
  }
}

@media (min-width: 1100px) {
  .hero-block {
    height: calc(100vh - 78px);
    min-height: 700px;

    &__content {
      margin: 0;
    }

    &__image {
      top: 65%;
      width: auto;

      &_left {
        left: -12.5%;
      }

      &_right {
        right: -12.5%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero-block {
    &__image {
      top: 65%;

      &_left {
        left: -10%;
      }

      &_right {
        right: -10%;
      }
    }
  }
}

@media (min-width: 1500px) {
  .hero-block {
    &__image {
      top: 70%;

      &_left {
        left: -3.5%;
      }

      &_right {
        right: -3.5%;
      }
    }
  }
}
